.add-media {
  @extend %list-style-reset;
  @extend %inline-list;
  font-size: 0;

  li {
    color: rgba($color-base-5, .6);
    font-size: $type-size-default;
    line-height: 15px;
    margin-right: 15px;
  }

  i {
    @include square(15px);
    display: inline-block;
    margin-right: 5px;
    text-align: center;
  }
} // .add-media