* {
  box-sizing: border-box;
}

body {
  color: $color-base-2;
  font-family: 'open sans', 'helvetica', 'arial', 'sans-serif';
}

h1 {
  font-size: $type-size-largest;
  font-weight: 400;
  margin: 0 0 35px;
}

h2 {
  color: $color-base-3;
  font-size: $type-size-large;
  font-weight: 400;
  margin: 0 0 25px;
  padding: 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  margin-bottom: 20px;
  width: 100%;
}

button {
  background-color: $color-accent-3;
  border-radius: $border-radius-base;
  border-width: 0;
  color: $color-base-5;
  font-size: $type-size-large;
  padding: 5px 10px;
  

  &:hover {
    background-color: $color-accent-2;
  }
} // button

.button-alt {
  background-color: transparent;
  border: 1px solid $border-color;
  color: $color-base-4;
}

.button-large {
  font-size: $type-size-larger;
  padding: 10px 15px;
}

textarea {
  border-width: 0;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}