.post-media + .comments-wrap {
  margin-top: 20px; //offset negative margin
}

.comments-wrap {
  margin-bottom: -1px; //offset bottom border
}

.comments-expand {
  color: $color-base-3;
  display: block;
  height: 20px;
  line-height:20px;
  margin-bottom: 5px;
}

.comments-expand-triangle {
  display: inline-block;
  height: 10px;
  left: 5px;
  position: relative;
  top: 2px;
  width: 10px;

  &:after {
    content: '';
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid $color-base-3;
    position: absolute;
    top: 2px;
  }
} //.comments-expand-triangle

.comments-expand-open .comments-expand-triangle:after {
  transform: rotate(-180deg);
}

.comments {
  margin: 0 (-$post-padding-sm);

  @include mq-medium {
    margin: 0 (-$post-padding-lg);
  }
} // .comments

.comment {
  background-color: #f9fafc;
  border-width: 1px 0 0;
  border-radius: 0;
  border-top: 1px solid $border-color;
  margin: 0;
  margin-bottom: 0;
  padding: $post-padding-sm;

  @include mq-medium {
    margin-bottom: 0;
    padding: $post-padding-lg;
  }
} //.comment

.comment-add {
  background-color: #f9fafc;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: $post-padding-sm;

  input {
    border: 1px solid $border-color;
    border-radius: $border-radius-base;
    height: 30px;
    margin: 0;
    padding: 0 15px;

    &::placeholder {
      color: $color-base-4;
    }
  } // input

  @include mq-medium {
    padding: $post-padding-lg;
  }
} // .comment-add

.comment .post-message {
  margin-bottom: 0;
} // .comment .post-message