.main {
  font-size: 12px;
  margin: $header-height auto 0;
  position: relative;

  @include mq-medium {
    padding: 0;
  }
} // .main

.standard-page {
  margin: 0 auto;
  padding: 10px;

  @include mq-medium {
    width: $layout-center-column-width;
  }
} // .standard-page

.page-title {
  padding-top: 30px;
}