.custom-checkbox {
  background-color: $color-base-4;
  border-radius: 12.5px;
  display: inline-block;
  position: relative;
  height: 25px;
  transition: background-color .2s linear;
  width: 50px;

  .custom-checkbox-toggle {
    @include square(23px);
    background-color: $color-base-5;
    border-radius: 50%;
    left: 50%;
    margin-left: -(23px/2);
    position: absolute;
    transition: transform .2s linear;
    transform: translateX(-12px);
    top:1px;

  }
} // .custom-checkbox

.custom-checkbox-on {
  background-color: $color-accent-3;

  .custom-checkbox-toggle {
    transform: translateX(12px);
  }
} // .custom-checkbox-on