.footer {
  border-top: 1px solid $border-color;
  font-size: $type-size-small;
  margin: 10px 0 190px;
  padding-top: 30px;
  text-align: center;

  @include mq-medium {
    margin-top: 60px;
  }
}

.footer-links {
  @extend %list-style-reset;
  @extend %inline-list;
  font-weight: 600;
  margin: 0 auto;
  text-transform: uppercase;

  li {
    color: $color-base-4;
    margin: 0 12px 15px;
  }

  a {
    color: $color-accent-1;
    text-decoration: none;

    &:hover {
      color: $color-accent-2;
    }
  } // a 
} // .footer-links