.header {
  background: $header-background-color;
  height: $header-height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: $z-index-header;
}

.header-inner-wrap {
  margin: 0 auto;
  height: $header-height;
  max-width: $layout-max-width;
  padding: 0 10px;
  position: relative;
  width: 100%;
}

.header-utility {
  height: $header-height;
  position: absolute;
  top: 0;
  right: 4px;

  @include mq-medium {
    right: 14px;
  }
} // .header-utility

.header-chat {
  @include square($header-content-height);
  display: inline-block;
  color: $color-accent-2;
  font-size:0;
  float: left;
  margin-top: ($header-height - $header-content-height) / 2;
  margin-right: 10px;
  font-size: 25px;
  text-align: center;

  &:hover {
    color: $color-accent-3;
  }

  i {
    display:block;
    line-height: $header-content-height;
  }
} // .header-chat

.header-search {
  border: 1px solid $color-base-2;
  border-radius: $border-radius-base;
  display: none;
  float:left;
  height: $header-content-height;
  margin-top: ($header-height - $header-content-height) / 2;
  margin-right: 10px;
  width: 190px;

  input {
    background-color: transparent;
    border-width: 0;
    color: $color-base-5;
    font-size: $type-size-default;
    line-height: 30px;
    margin: 0 10px 0 0; 
    padding: 0 0 0 10px;
    width: 150px;
  }

  @include mq-medium {
    display: inline-block;
  }
} // .header-search

.header-logo {
  display: inline-block;
  height: $header-logo-height;
  margin: 0;
  margin-top: ($header-height - $header-logo-height) / 2;
  padding: 0;
  width: auto;
}

.header-triangle {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid $color-base-5;
  position: absolute;
  right: 5px;
  top: 15px;
}

.header-user {
  display: inline-block;
  margin-top: ($header-height - $header-content-height) / 2;
  position: relative;
  width: 50px;
}

.header-avatar {
  @include square($header-content-height);
  img {
    @include square($header-content-height);
  }
} // .header-avatar;

.header-user-dropdown {
  @extend %list-style-reset;
  box-shadow: 0px 0px 5px 5px rgba(black, .3);
  left: 0;
  position: absolute;
  right: -5px;
  top: $header-height - 5px;
  z-index: 2;

  @include mq-medium {
    border-radius: $border-radius-base;
    box-shadow: none;
    left: auto;
    right: 7px;
    width: 96px;
  }
  
  // triangle 
  &:before {
    @include square(10px);
    background-color: $header-user-dropdown-bg;
    content : '';
    display: block;
    position: absolute;
    top: -5px;
    right: 13px;
    transform: rotate(45deg);
    z-index: -1;

    @include mq-medium {
      right: 10px;
    }
  } // &:before

  li {
    overflow:hidden;
  }

  a {
    background-color: $header-user-dropdown-bg;
    border-bottom: 1px solid $color-base-4;
    color: $color-base-1;
    display: block;
    font-size: $type-size-default;
    font-weight: 500;
    line-height: 10px;
    padding:  10px 15px;

    &:hover {
      background-color: $color-accent-2;
      color: $color-base-5;
    }
  } // a
  
  li:first-child a {
    @include border-radius-top();
  }

  @include mq-medium {
    li:last-child a {
      @include border-radius-bottom();
      border-bottom-width: 0;
    }
  }
} // .header-user-dropdown