.main-nav {
  height: $mn-height;
  margin: 0 auto; 
  position: relative;
  text-align: center;
  top: -$mn-height;
  width: 100%;
  z-index: $z-index-main-nav;

  @include mq-medium {
    left: 50%;
    overflow: hidden; // clear inner floats;
    margin: 0 0 (-$mn-height) (-$layout-center-column-width/2); // negative bottom is to offset height left by moving
    text-align: left;
    width: $layout-center-column-width;
  }
} // .main-nav

.tabs {
  @extend %list-style-reset;
  @extend %inline-list;
  display: inline-block;
  margin: 0 auto;
  width: auto;

  li {
    border-bottom: $mn-selected-border-bottom solid transparent;
    padding : 0 8px;

    &:not(:last-child) {
      margin-right: 40px;
    }
  } // li

  .selected {
    border-bottom: $mn-selected-border-bottom solid $color-accent-1;

    a {
      color: $mn-text-color;
    }
  } // .selected

  a {
    color: rgba($mn-text-color, .7);
    display: block;
    font-weight: 600;
    height: $mn-height - $mn-selected-border-bottom;
    line-height: $mn-height - $mn-selected-border-bottom;
    text-decoration: none;
    text-transform: uppercase;
  }
} // .tabs

.layouts {
  display: none !important; //@TODO - enable multiple layouts

  @include mq-medium {
    @extend %list-style-reset;
    @extend %inline-list;
    //display: inline-block;
    float: right;
    height: 10px;
    margin-top: 8px; // vertically align to text 
    position: relative;


    li {
      @include square(10px);
      border: 1px solid red;
      margin-left: 10px;
    }
  }
} // .layouts