@mixin square($radius: 5px) {
  height: $radius;
  width: $radius;
}

@mixin border-radius-top($radius: $border-radius-base) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-radius-bottom($radius: $border-radius-base) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin mq-medium {
  .mq-medium & {
    @content;
  }
}