.modal-backdrop {
  background: rgba(black, .8);
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-modal-backdrop;
}

.modal-open .content-container {
  filter: blur(5px);
}

.modal {
  background-color: $color-base-5;
  border-radius: $border-radius-base;
  display: block;
  left: 50%;
  max-width: $layout-center-column-width;
  min-width: 300px;
  position: absolute;
  top: 50px;
  transform: translateX(-50%);
  z-index: $z-index-modal;

  @include mq-medium {
    top: 180px;
    width: $layout-center-column-width
  }
} // .modal

.modal-title {
  font-size: $type-size-larger;
  font-weight: 300;
  text-transform: none;
}

.modal-content {
  padding: $post-padding-sm;
}

.modal-close {
  @include square(20px);
  background-color: transparent;
  border-radius: 50%;
  color: $color-base-5; 
  display: block;
  font-size: 15px;
  opacity: .5;
  position: absolute;
  top: -25px;
  right: 0;

  i {
    font-size: 20px;
    line-height: 16px;
  }

  @include mq-medium {
    right: -20px;
  }
} // .modal-close

.modal-post {
  float: right;
}