.post {
  border: 1px solid $border-color;
  border-radius: $border-radius-base;
  overflow: hidden;
  margin-bottom: 10px;
  padding: $post-padding-sm $post-padding-sm 0;
  position: relative;
  width: 100%;

  @include mq-medium {
    margin-bottom: 20px;
    padding: $post-padding-lg $post-padding-lg 0px;
  }
} // .post

.post-wrap {
  border-top: 1px solid transparent; // weird hacky fix for positioning discrepancy
  display: block;
  position: relative;
}

.post-avatar {
  left: 0;
  position: absolute;
  top: 0;
}

.post-username {
  font-size: $type-size-large;
  color: $color-base-4;
  margin: -5px 0 5px $post-avatar-size + $post-v-gutter-sm;
}

.post-meta {
  @extend %list-style-reset;
  @extend %inline-list;
  color: $color-base-4;
  right: $post-padding-sm;
  top: $post-padding-sm;
  position: absolute;

  li {
    margin-left: 15px;
  }

  @include mq-medium {
    bottom: auto;
    right: $post-padding-lg;
    top: $post-padding-lg;
  }
} // .post-meta


.post-message {
  margin: 0 0 10px $post-avatar-size + $post-v-gutter-sm;

  @include mq-medium {
    margin-bottom: 30px;
  }
} // .post-message

.post-media {
  min-height: 0;
  margin: 0 (-$post-padding-sm) (-$post-padding-sm);
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
  }

  @include mq-medium {
    margin: 0 (-$post-padding-lg) (-$post-padding-lg);
  }
} // .post-media

.post-media-modal {
  border-width: 0;
  margin: 0 (-$post-padding-sm);
  padding: 0;
  z-index: 30;

  @include mq-medium {
    margin: 0 (-$post-padding-sm);
  }
}

.post-video-indicator {
  bottom: 0;
  color: rgba($color-base-5,.5);
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;

  i {
    font-size: 90px;
  }
}