.posts {
  margin-top: -$mn-height; // offset relative position space
  padding: 10px;

  @include mq-medium {
    margin: 40px auto;
    max-width: $layout-center-column-width;
    padding-left: 0;
    padding-right: 0;
  }
} // .posts

.post-add-media {
  bottom: $pe-padding-sm;
  position: absolute;

  @include mq-medium {
    bottom: $pe-padding-lg;
    left: $pe-padding-lg;
  }
} // .post-add-media

.post-detail-modal {

  .modal-content {
    padding: 0;
  }

  .post:not(.comment) {
    border-width: 0;
    padding-top: 0;
    margin-top: -$post-padding-sm;
    padding-bottom: 40px;

    .post-meta {
      bottom: 0;
      top: auto;
    }
  } // .post
  
  .comments .comment .post-meta {
    bottom: auto;
    top: $post-padding-sm;
  }
  .post-media {
    @include border-radius-top();
    overflow:hidden;
    margin-top: $post-padding-sm;

    @include mq-medium {
      margin: (-$post-padding-lg) (-$post-padding-lg) $post-padding-lg;
    }
  }
} // .post-detiail-modal