.post-entry{
  background: transparent url(/assets/bg-placeholder.jpg) center center;
  background-size: auto 100%;
  min-height: 150px;
  //margin-bottom: -$mn-height; // negative bottom is to offset height displaced by relative positioning 
  padding: 10px;
  position: relative;
  width: 100%;

  @include mq-medium {
    //filter: blur(10px);
    padding: 20px;
    height: 426px; 
  }
} // .post-entry

.post-entry-inner {
  background-color: rgba($color-accent-1, .7);
  border-radius: $border-radius-base;
  min-height: 80px;
  padding: $pe-padding-sm $pe-padding-sm ($pe-padding-sm + 15px) ; // 15px is to accomodate post-entry-media links
  position: relative;

  @include mq-medium {
    left: 50%;
    min-height: 150px;
    padding: $pe-padding-lg $pe-padding-lg ($pe-padding-lg + 15px) ; // 15px is to accomodate post-entry-media links
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $layout-center-column-width;
  }
} // .post-entry-inner

.post-entry-input {
  background: transparent;
  border: none;
  color: $pe-text-color;
  display: block;
  font-size: 20px; 
  font-weight: 200;
  width: 100%;

  &::placeholder {
    color: $pe-text-color;
  }
} // .post-entry-input

.post-entry-add-media {
  bottom: $pe-padding-sm;
  left: $pe-padding-sm;
  position: absolute;

  @include mq-medium {
    bottom: $pe-padding-lg;
    left: $pe-padding-lg;
  }
}