.settings section {
  margin-bottom: 10px;
  padding-bottom: 10px;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  @include mq-medium {
    margin-bottom: 45px;
    padding-bottom: 30px;
  }
} // .settings section

.settings-personal {
  @include mq-medium {
    display: table;
  }
} // .settings-personal

.settings-avatar {
  text-align: center;
  margin-bottom: 20px;

  @include mq-medium {
    display: table-cell;
    padding-right: 50px;
    width: 84px;
  }
} // .settings-avatar

.settings-avatar-image {
  @include square(84px);
  background: blue;
  display: block;
  margin: 0 auto 20px;
} // .settings-avatar-image

.settings-avatar-button {
  display: inline-block;
  width: 84px;
}

.settings-text-entry {
  @include mq-medium {
    display: table-cell;
    vertical-align: top;
    width: 367px;
  }
} // .settings-text-entrys

.settings-input {
  border: 1px solid $border-color;
  border-radius: $border-radius-base;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 40px;
  position: relative;

  input {
    border-width: 0;
    font-size: $type-size-larger;
    box-shadow: none;
    height: 30px;
    margin: 5px 5px 5px 0;
    padding-right: 15px;
  }
} // .settings-input

.settings-input-icon {
  @include square(40px);
  color: $color-base-4;
  display:block;
  position:absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  line-height: 40px;
  width: 40px;
  text-align:center;
}

.settings-checkbox {
  display: table;
  margin-bottom: 20px;
}

.settings-checkbox-wrap {
  width: 70px;
}

.settings-checkbox-wrap,
.settings-checkboxk-label {
  display: table-cell;
  vertical-align: top;
}

.settings-checkbox-label {
  font-size: $type-size-larger;
  margin: 0;
}