/* Colors */
$color-base-1 : #262728;
$color-base-2 : #343d41;
$color-base-3 : #697074;
$color-base-4 : #b5bdc1;
$color-base-5 : white;

$color-accent-1 : #007f60;
$color-accent-2 : #00b286;
$color-accent-3 : #00cc99;
$color-accent-4 : #00cc99;

$border-color : #dee1e6;

$type-size-largest: 30px;
$type-size-larger: 16px;
$type-size-large: 14px;
$type-size-default: 12px;
$type-size-small:  10px;

/* General Layout */
$layout-max-width : 1350px;
$layout-center-column-width: 576px;
$border-radius-base: 3px;

/* Header */
$header-background-color: $color-base-1;
$header-height: 62px;
$header-logo-height: 40px;
$header-content-height: 30px;
$header-user-dropdown-bg: $color-base-5;

/* Main Nav */
$mn-text-color: $color-base-5;
$mn-height: 43px;
$mn-selected-border-bottom: 4px;

/* Post */
$post-padding: 25px;
$post-avatar-size: 40px;
$post-v-gutter-sm: 10px;
$post-content-margin-left-sm: $post-padding + $post-avatar-size + $post-v-gutter-sm;
$post-padding-sm: 10px;
$post-padding-lg: 20px;

/* Post-entry */
$pe-text-color: rgba($color-base-5, .5);
$pe-padding-sm: 10px;
$pe-padding-lg: 25px;

/* z-indexes */
$z-index-modal: 40;
$z-index-modal-backdrop: 30;
$z-index-header: 20;
$z-index-main-nav: 10;
